<ion-header>
    <ion-toolbar>
      <ion-title>FinderAnthony</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding  style="vertical-align:middle;text-align: center;"> 
    <span>Welcome to</span><br>
    <h2>FINDER ANTHONY</h2><br>


  
    <ion-img src="assets/icon/smiley.png" style="margin:auto;width:100px;height: 100px;"></ion-img>
   
    <br>
    <br>
    <br>
    <ion-button expand="full" routerLink="/hotspot" routerDirection="forward">I AM THE ONE BEING SEARCHED</ion-button>
    <ion-button expand="full" routerLink="/finder/wifilist" routerDirection="forward">SEARCH WIFI</ion-button>
  </ion-content>